/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
  }
  
  
  .btc-pic {
    padding-top: 24px;
    padding-bottom: 24px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/694/620/62/gold-black-coin-bitcoin-bitcoin-hd-wallpaper-preview.jpg");
    background-size: cover;
    background-position: fixed;
    max-width: 100%;
    height: 800px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }

  /* Navigation */

  .navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .navigation li {
    margin: 18px;
  }

  .navigation a {
    color: white;
  }

  .navigation a:link { 
    text-decoration: none; 
}

/* Header */
    
    .btc-pic{
        position:relative;
    }

    header {
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .page-title {
        font-weight: bolder;
        font-size: 45px;
    }

    .page-subtitle {
        font-size: 50px;
        word-spacing: 15px;
        font-weight: bolder;
    }

    .button {
        min-width: 160px;
        color: white;
        font-weight: bolder;
        margin: 24px auto 0 auto;
        padding: 16px;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
        border-width: 2px;
        border-style: solid;
        border-color: yellow;
        background-color: red;
        background-position: 100% 0;
        background-size: 300%; 
    }

    .button:hover {
        background-color: black;
        color: yellowgreen;
    }